.tamanio {
    width: 90%;
    height: 172px;
}
.borderH {
    border-bottom: solid black 1px;
}
.w{
    width: 100%;
    position: relative;
}
.textoOver{
    position: absolute;
    bottom: 37%;
    left: 40%;
    text-align: center;
    font-size: 33px;
}