.boton{
    background-color: lightgrey;
    color: black;
    border: grey;
}

.pointer {
    cursor: pointer;
}

.minHeight {
    min-height: 70vh;
    padding: 0px;
}
.w100{
    width: 100%
}
.w50{
    width: 50%
}

.flex{
    display: flex;
    justify-content: left;
  }