<div class="m-5 row minHeight">
    <div id = "formulario" class="border col-6 p-5 no-print">
        <app-configuracion></app-configuracion>
    </div>
    <div class="border col-6 p-5 yes-print">
        <app-informe></app-informe>
    </div>
<div id="descarga" class="no-print m-5 row w-100">
    <div class="col-12">
        <!-- <button (click)="imprimirResultados()"><a class="myButton" >Descargar resultados</a></button> -->
        <a (click)="imprimirResultados()" class="myButton" >Descargar resultados</a>
    </div>
</div>
